<mat-drawer-container class="chat-container">
  <mat-drawer mode="side" opened>
    <mat-list>
      <mat-list-item *ngFor="let chat of chats" (click)="selectChat(chat)" class="chat-list-item">
        <mat-icon matListIcon>chat</mat-icon>
        <h3 matLine>{{ chat.name }}</h3>
        <p matLine> Test </p>
      </mat-list-item>
    </mat-list>
    <button mat-raised-button color="primary" class="new-chat-button" (click)="createNewChat()">
      Create New Chat
    </button>
  </mat-drawer>
  <mat-drawer-content>
    <div *ngIf="selectedChat()">
      <app-chat [chat]="selectedChat()!"></app-chat>
    </div>
    <div *ngIf="!selectedChat()">
      No Chat selected
    </div>
  </mat-drawer-content>
</mat-drawer-container>
